[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
python-decouple = "3.8"
dj-database-url = "2.1"
django-fsm = "2.8"
celery = "5.3"
flower = "2.0.1"
redis = "5.0.0"
gunicorn = "21.2.0"
django-cleanup = "8.0.0"
psycopg2 = "2.9.7"
djangorestframework = "3.14"
django-service-objects = "0.7.1"
pillow = "9.5.0"
django-imagekit = "5.0.0"
htmx = "*"
requests = "2.31.0"

[dev-packages]

[requires]
python_version = "3.11"
